<div id="topic-author-info" class="panel profile panel-default">
  <div class="panel-heading">作者</div>
  <div class="panel-body">
    <div class="media">
      <div class="avatar media-left">
        <div class='image'><%= user_avatar_tag(@article.user, :md, link: true) %></div>
        <div class="level"><%= render_user_level_tag(@article.user) %></div>
      </div>
      <div class="media-body">
        <div class="item">
          <%= @article.user.fullname %>
        </div>
        <div class="item number">
          第 <%= @article.user.id %> 位<%= t("menu.users")%> / <span title="注册日期"><%= @article.user.created_at.to_date %></span>
        </div>
        <% if !@article.user.company.blank? %>
            <div class="item company">
              <%= @article.user.company %>
              <% if @article.user.location.present? %> @ <span title="所在地"><%= location_name_tag(@article.user.location) %></span><% end %>
            </div>
        <% end %>
      </div>


      <% if Setting.has_module?(:team) %>
          <% if !@article.user.teams.blank? %>
              <div class="user-teams">
                <div>
                  <% @article.user.valid_teams.each do |team| %>
                      <%= user_avatar_tag(team, :sm) %>
                  <% end %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>

    <% if !@article.user.tagline.blank? %>
        <div class="tagline row">
          <%= truncate(@article.user.tagline, :ommision => "... ", :length => 30) %>
        </div>
    <% else %>
        <div class="tagline row">
          “ 这家伙很懒，什么个性签名都没有留下。 ”
        </div>
    <% end %>
  </div>
</div>