<div class="topic-sidebar panel panel-default">
  <div class="panel-heading">大家都在关注的专栏 <i class="fa fa-columns"></i></div>
  <div class="panel-body">
    <% Column.hot.limit(3).each do |column| %>

    <div class="media sidebar-column">
      <div class="media-left media-middle">
        <img class="media-object avatar-48" src="<%=column.cover_url %>" >
      </div>
      <div class="media-body">
        <h4 class="media-heading sidebar-name"><%= render_column_name(column.name, column.slug) %></h4>
        <p><%=column.user.name %></p>

      </div>
      <div class="media-right">
        <div class="sidebar-count"><%=column.articles_count %> 篇</div>
      </div>
      <div class="sidebar-description"><i><%=column.description %></i></div>
    </div>
    <% end %>
  </div>
</div>