<% title_tag(@page_title || t('menu.topics')) %>

<!-- @suggest_topics maybe nil or ActiveRecord::Relation, but we need an array -->
<% @suggest_topics = @suggest_topics.to_a %>

<%= render "topics/node_info", node: @node %>

<div class="row">
  <div class="col-md-9">
    <% if not mobile? %>
        <%= raw Setting.topic_list_top_html %>
    <%end%>
    <div class="topics panel panel-default">
      <% if @node %>
      <div class="panel-heading">
        <ul class="filter nav nav-pills">
          <li class="<%= ' active' if @status == 'index' %>">
            <a href="<%= main_app.node_topics_path(@node) %>" data-turbolinks-action="replace">默认</a>
          </li>
          <li class="<%= ' active' if @status == 'popular' %>">
            <a href="<%= main_app.node_topics_status_path(@node, 'popular') %>" data-turbolinks-action="replace"><i class="fa fa-diamond"></i> 精华帖</a>
          </li>
          <li class="<%= ' active' if @status == 'no_reply' %>">
            <%= link_to('零回复', main_app.node_topics_status_path(@node, 'no_reply'), data: { 'turbolinks-action': 'replace' }) %>
          </li>
          <li class="<%= ' active' if @status == 'recent' %>">
            <%= link_to('最近', main_app.node_topics_status_path(@node, 'recent'), data: { 'turbolinks-action': 'replace' }) %>
          </li>
        </ul>
      </div>
      <%end%>
      <div class="panel-body item-list">
        <% if @suggest_topics.present? %>
            <%= render partial: '/topics/topic', collection: @suggest_topics, locals: { suggest: true } %>
        <% end %>

        <% if action_name == 'favorites' %>
          <%= render partial: '/topics/topic', collection: @topics, locals: { suggest: false } %>
        <% else %>
            <%= render partial: '/topics/topic', collection: @topics, locals: { suggest: false } %>
        <% end %>
      </div>

      <div class="panel-footer clearfix">
        <% if action_name.in? %(index recent) %>
          <%= paginate @topics, total_pages: Topic.total_pages %>
        <% else %>
          <%= paginate @topics %>
        <% end %>
      </div>
    </div>

    <% if !mobile? %>
        <%= render "/shared/index_sections" %>
    <% end %>


    <% if current_user %>
    <script type="text/javascript">
      var readed_topic_ids = <%= @read_topic_ids || [] %>;
      for (var i = 0; i < readed_topic_ids.length; i++) {
        topic_id = readed_topic_ids[i];
        $(".topic-"+ topic_id).addClass('topic-visited');
        $(".topic-"+ topic_id + " .count a").addClass("state-true");
      }
    </script>
    <% end %>
  </div>


  <div class="sidebar col-md-3">
    <%= render "topics/sidebar_for_topic_index" %>
  </div>

</div>
