<ul class="list-group recent-replies">
  <% replies.each do |reply| %>
    <% cache(['users', reply, current_user]) do %>
      <% next if reply.topic.blank? %>
      <li class="list-group-item">
        <%	 if !reply.exposed_to_author_only? %>
        <div class="title">
          <%= link_to(reply.topic.title, topic_path(reply.topic_id)) %>
          <span class="info">at <%= timeago(reply.created_at) %></span>
        </div>
        <div class="body markdown">
          <%= reply.body_html %>
        </div>
        <% elsif current_user && (reply.topic && reply.topic.user == current_user || reply.user == current_user) %>
          <div class="title">
            <%= link_to(reply.topic.title, topic_path(reply.topic_id)) %>
            <span class="info">at <%= timeago(reply.created_at) %></span>
            <span class="info"><i class="fa fa-lock"></i> <%= t("topics.exposed_to_author_only") %></span>
          </div>
          <div class="body markdown">
            <%= reply.body_html %>
          </div>
        <% else %>
          <div class="title">
            <%= link_to(reply.topic.title, topic_path(reply.topic_id)) %>
            <span class="info">at <%= timeago(reply.created_at) %></span>
          </div>
          <div class="body markdown">
            <i class="fa fa-lock"></i>
            <span class="author-only"><%= t("topics.exposed_to_author_only") %></span>
          </div>

        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
