<div id="carousel-ads" class="carousel slide" data-ride="carousel" data-interval="10000" >
  <ol class="carousel-indicators">
    <% Ad.all.each_with_index do |ad, i| %>
        <% if i == 0 %>
            <li data-target="#carousel-ads" data-slide-to="<%= i %>" class="active"></li>
        <% else %>
            <li data-target="#carousel-ads" data-slide-to="<%= i %>"></li>
        <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% Ad.all.each_with_index do |ad, i| %>

        <% if i == 0 %>
            <div class="item active">
              <a href="<%=topic_path(ad.topic_id) %>">
                  <img alt="<%= ad.topic_title %>" src="<%= ad.cover %>" data-holder-rendered="true">
              </a>
            </div>
        <% else %>
            <div class="item">
              <a href="<%=topic_path(ad.topic_id) %>">
                <img alt="<%= ad.topic_title %>" src="<%= ad.cover %>" data-holder-rendered="true">
              </a>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

