<% cache([job_topic, job_topic.user_avatar_raw, suggest]) do %>
    <div class="job_topic media topic-<%= job_topic.id %>">
      <div class="avatar media-left">
        <%= user_avatar_tag(job_topic.user, :md) %>
      </div>
      <div class="infos media-body">
        <div class="title media-heading">
          <%= link_to(main_app.topic_path(job_topic), title: job_topic.title) do %>
              <%= job_topic.title %>
          <% end %>
        </div>
        <div class="info">
          <%= user_name_tag(job_topic.user) %>
        </div>
      </div>
    </div>
<% end %>
