<div class="home_suggest_topics panel panel-default">

  <div class="panel-heading">最新帖子</div>
  <div class="panel-body item-list topics">
      <% cache([@latest_topics, "latest_topics"]) do %>
          <%= render partial: "topics/topic", collection: @latest_topics, locals: { suggest: false } %>
      <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "查看更多...", recent_topics_path %>
  </div>
</div>

<div class="home_suggest_topics panel panel-default">

  <div class="panel-heading">最新问答</div>
  <div class="panel-body item-list topics">
      <% cache([@question_topics, "question_topics"]) do %>
          <%= render partial: "topics/topic", collection: @question_topics, locals: { suggest: false } %>
      <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "查看更多...", recent_topics_path %>
  </div>
</div>

<div class="home_suggest_topics panel panel-default">
  <div class="panel-heading">社区精华帖</div>
  <div class="panel-body item-list topics">
    <% cache([@excellent_topics, "excellent_topics"]) do %>
        <%= render partial: "topics/topic", collection: @excellent_topics, locals: { suggest: false } %>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "查看更多精华帖...", excellent_topics_path %>
  </div>
</div>