<%
  if opensource_contributor['is_testerhome_user'] # 社区用户
    @user = User.find_by_github(opensource_contributor['github_login'])
  else
    @user = nil
  end

  if opensource_contributor_counter + 1 <= 3 # 前三名
    @style = 'danger'
  elsif not @user.blank? # 社区用户
    @style = 'success'
  else # 非社区用户
    @style = 'muted'
  end
%>


<div class="col-md-12 col-xs-12 col-sm-12 user-card <%= @user.blank? ? 'not_testehome_user' : '' %> ">
  <div class="media-left statistics-number">
      <div class="text-<%=@style %>"><%= "#{opensource_contributor_counter + 1}" %></div>
  </div>
  <div class="media-body">
    <div class="media-left">
      <%= user_avatar_tag(@user, version=:md, default: 'github') %>
    </div>
    <div class="media-body text-middle">
      <% if not @user.blank? %>
        <%= link_to @user.login,  user_path(@user) %> <span class="label label-info role"><%= t("github_statistics.testerhome_user") %></span>
      <% else %>
        <%= link_to opensource_contributor['github_login'], "https://github.com/#{opensource_contributor['github_login']}" %>
      <% end %>
    </div>
  </div>

  <div class="media-right text-middle">
    <div class="statistics-count text-<%=@style %>"><%= t("github_statistics.contribution", value: opensource_contributor['total']) %></div>
  </div>

</div>